@model LMS_Grupp4.Models.LMS_ViewModels.Student_IndexViewModel
@using LMS_Grupp4.Models
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = User.Identity.GetUserRealName() + ": Index";
    int courseCount = Model.courseModel.Count;
    int assignmentCount = Model.assignmentModel.Count;
    int applicationCount = Model.courseApplicationModel.Count;
}

<div class="row" style="padding-bottom: 20px">
    <div class="col-md-4">
        <small>
            Student ID: @User.Identity.GetUserId()
        </small>
    </div>
    <div class="col-md-4 text-center">
        <small>Student Overview</small>
    </div>
    <div class="col-lg-4 text-right">
        <small><span class="glyphicon glyphicon-calendar"></span> @DateTime.Now.DayOfWeek, @DateTime.Now.Date.Day @DateTime.Now.Year <span class="glyphicon glyphicon-time"></span> @DateTime.Now.ToShortTimeString()</small>
    </div>
</div>


<div class="jumbotron">
    <h1>Homepage</h1>
    <h2>You are logged in as Student: <a href="#">@User.Identity.GetUserRealName()</a></h2>
    <p>
        Here you can see an overview of the courses you are enrolled in, and also an assignment overview.<br />
        Choose a course or assignment to view details, or view all of them with the link below.<br />
        Your pending course applications are also shown here.</br>
        You can also apply to a new course, and view your files.
    </p>
    <small>
        If you are not "@User.Identity.GetUserRealName()", login <a href="@Url.Action("Login", "Account")">here</a>.
    </small>
</div>
@Html.Action("ComputeGrades", "Student")
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-success">
            <div class="panel-heading">
                <div class="panel-title">
                    <h5 class="text-center">New course application</h5>
                </div>
            </div>
            <div class="panel-body">
                <p>
                    Apply for a new course here.<br />
                    You can browse all courses you are not enrolled in, and look at details.<br />
                </p>
                <hr />
                <p class="text-center">
                    <a href="@Url.Action("Index", "Course")" class="btn btn-lg btn-success">Apply to course <span class="glyphicon glyphicon-plus-sign"></span></a>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">
                    <h4 class="text-center"><a href="@Url.Action("Index", "Course")">My Courses</a></h4>
                </div>
            </div>
            <div class="panel-body">
                <p>
                    A list of your courses with the five latest created assignments.<br />
                </p>
                <hr />
                <table class="table table-bordered">
                    <tr>
                        <th class="text-center">
                            Course
                        </th>
                        <th class="text-center">
                            Description
                        </th>
                    </tr>

                    @foreach (var item in Model.courseModel)
                    {
                        <tr>
                            <td>
                                <a href="@Url.Action("Details", "Course", new { id = item.ID})">@Html.DisplayFor(course => item.CourseName)</a>
                            </td>
                            <td>
                                @Html.DisplayFor(course => item.Description)
                            </td>
                        </tr>
                    }

                </table>
                @if (courseCount <= 0)
                {
                    <div class="alert alert-warning">
                        <h4>You have no course as for now.</h4>
                        <p>
                            Consider applying for a course.
                        </p>
                    </div>
                }
                <hr />
            </div>
        </div>
        <p class="text-center">
            <a href="@Url.Action("Index", "Course")">View All</a>
        </p>
        <hr />
    </div>
    <div class="col-md-4">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">
                    <h4 class="text-center">My Assignments</h4>
                </div>
            </div>
            <div class="panel-body">
                <p>
                    Below are listed assignments sorted after issue date.<br />
                    Select "View All" to view the full list.
                </p>
                <hr />
                <table class="table table-bordered">
                    <tr>
                        <th class="text-center">
                            Assignment
                        </th>
                        <th class="text-center">
                            Course
                        </th>
                        <th class="text-center">
                            Due Date
                        </th>
                    </tr>

                    @foreach (var item in Model.assignmentModel)
                    {
                        <tr>
                            <td>
                                <a href="@Url.Action("Details_Basic", "Assignment", new { id = item.ID})">@Html.DisplayFor(assignment => item.Name)</a>
                            </td>
                            <td>
                                <a href="@Url.Action("Details", "Course", new { id = item.Course.ID})">@item.Course.CourseName</a>
                            </td>
                            <td>
                               @Convert.ToDateTime(item.DueDate).ToShortDateString()
                            </td>
                        </tr>
                    }

                </table>
                @if (assignmentCount <= 0)
                {
                    <div class="alert alert-warning">
                        <h4>You have no assignment as for now.</h4>
                        <p>
                            The assignments will be displayed in the table above.
                        </p>
                    </div>
                }
            </div>
        </div>
        <p class="text-center">
            <a href="@Url.Action("IndexUser", "Assignment")">View All</a>
        </p>
        <hr />
    </div>

    <div class="col-md-4">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">
                    <h4 class="text-center">Pending Applications</h4>
                </div>
            </div>
            <div class="panel-body">
                <p>
                    A list of all your pending course applications.<br />
                </p>
                <hr />
                <table class="table table-bordered">
                    <tr>
                        <th class="text-center">
                            Message
                        </th>
                        <th class="text-center">
                            Emission Date
                        </th>
                        <th>
                            Course
                        </th>
                    </tr>

                    @foreach (var item in Model.courseApplicationModel)
                    {
                        <tr>
                            <td>
                                <a href="@Url.Action("Details", "CourseApplication", new { id = item.ID})">
                                    @(item.Message.Length > 16 ? item.Message.Substring(0, 15) + " ..." : item.Message)
                                </a>
                            </td>
                            <td>
                                @Html.DisplayFor(courseApplicationModel => item.CreationDate)
                            </td>
                            <td>
                                @Html.DisplayFor(courseApplicationModel => item.Course.CourseName)
                            </td>
                        </tr>
                    }
                </table>
                @if (applicationCount <= 0)
                {
                    <div class="alert alert-warning">
                        <h4>You have no applications as for now.</h4>
                        <p>
                            Course applications will be displayed in the table above.
                        </p>
                    </div>
                }

            </div>
        </div>
        <p class="text-center">
            <a href="@Url.Action("Index", "CourseApplication")">View All</a>
        </p>
    </div>
</div>


<div class="row">
    <div class="col-md-7">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="panel-title">
                    <h5 class="text-center">Course Files</h5>
                </div>
            </div>
            <div class="panel-body">
                <p>
                    Bellow are listed the 5 latest files uploaded grouped by course.<br />
                    These files are not assignments and can be uploaded by teachers or yourself.
                    Click a file name to download it.
                </p>
                <div class="list-group">
                    @foreach (var group in Model.CourseFiles)
                    {
                        <div class="list-group-item  well well-sm">
                            <div class="list-group-item-text">
                                <div class="list-group-item-heading">Files uploaded for: <b style="font-size: 1.2em">@group.Key</b></div>
                                @foreach (var file in group)
                                {
                                    <div class="list-group-item">
                                        <a href="@Url.Action("Download", "File", new { id = file.ID})" class="list-group-item-text"><span class="glyphicon glyphicon-download"></span> @file.Name</a> from @file.UploadDate.ToShortDateString()
                                        @if (!file.IsPublicVisible)
                                        {
                                            <span class="badge text-right" style="background-color:orangered">Private</span>
                                        }
                                    </div>
                                }
                            </div>
                        </div>
                    }
                </div>
                @if (Model.CourseFiles.Count <= 0)
                {
                    <div class="warning">
                        <h3>No file found!</h3>
                        <hr />
                        Nothing has been uploaded yet.
                    </div>
                }
                <div class="panel-footer">
                    <small>Click the link bellow this box to view all the uploaded files.</small>
                </div>
            </div>
        </div>
        <p class="text-center">
            <a href="@Url.Action("Index", "File")">View All</a>
        </p>
        <hr />
    </div>

    @if (Model.SubFiles.Count > 0)
    {
        <div class="col-md-5">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="panel-title">
                        <h5 class="text-center">Submitted Files</h5>
                    </div>
                </div>
                <div class="panel-body">
                    <p>
                        Bellow are listed the 5 latest submitted files grouped by course.<br />
                        Click a file name to download it.
                    </p>
                    <div class="list-group">
                        @foreach (var group in Model.SubFiles)
                        {
                            <div class="list-group-item  well well-sm">
                                <div class="list-group-item-text">
                                    <div class="list-group-item-heading">Files Submissions for: <b style="font-size: 1.2em">@group.Key</b></div>
                                    @foreach (var file in group)
                                    {
                                        <div class="list-group-item">
                                            <a href="@Url.Action("Download", "File", new { id = file.ID})" class="list-group-item-text"><span class="glyphicon glyphicon-download"></span> @file.Name</a>.                                        </div>
                                    }
                                </div>
                            </div>
                        }
                    </div>
                    <div class="panel-footer">
                        <small>Click the link bellow this box to view all the submitted files.</small>
                    </div>
                </div>
            </div>
            <p class="text-center">
                <a href="@Url.Action("SubmissionFiles", "File")">View All</a>
            </p>
            <hr />
        </div>
    }
</div>



<div class="row">
    <div class="col-md-12">
        <div class="well well-sm">
            <p>
                Every other operation con be available from the respective page. <br />
                For instance, information inherent to a course will be accessible from that course and nowhere else.
            </p>
        </div>
    </div>
</div>