@model LMS_Grupp4.Models.LMS_ViewModels.Student_IndexViewModel
@using LMS_Grupp4.Models
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Index";
}

<div class="row" style="padding-bottom: 20px">
    <div class="col-md-4">
        <small>
            Student ID: @User.Identity.GetUserId()
        </small>
    </div>
    <div class="col-md-4 text-center">
        <small>Student Overview</small>
    </div>
    <div class="col-lg-4 text-right">
        <small>@DateTime.Now.DayOfWeek, @DateTime.Now.Date.Day @DateTime.Now.Year</small>
    </div>
</div>

<div class="jumbotron">

    <h2><a href="@Url.Action("Details", "Student", new { id = User.Identity.GetUserId()})">@User.Identity.GetUserRealName()</a>, welcome!</h2>
    <p>
        Here you can see all the courses you are enrolled in, and also an assignment overview.<br />
        Choose a course or assignment to view details.<br />
        You can also apply to a new course, and get a list over all active and finished assignments.<br />
        Here you can also view your files, or upload a new one  
    </p>
</div>


<td>
    @*@Html.ActionLink("Apply for new Course", "Index", "Course") |*@
    <a href="@Url.Action("Index", "Course")" class="btn btn-default btn-sm">Apply for new course</a>
    @*@Html.ActionLink("My Files", "Files", new { id = User.Identity.GetUserId() })*@
    <a href="@Url.Action("Index", "File")" class="btn btn-default btn-sm">Your files</a>
    <br /><br />
</td>

<br /><br />
<h2>My Courses</h2>

<table class="table">
    <tr>
        <th>
            Course
        </th>
        <th>
            Description
        </th>

        <th></th>
    </tr>

    @{try
    {
        foreach (var item in Model.Courses)
        {
            <tr>
                <td>
                    @Html.DisplayFor(course => item.CourseName)
                </td>
                <td>
                    @Html.DisplayFor(course => item.Description)
                </td>
            </tr>
        }
    } catch (NullReferenceException)
    {
    }
    }

</table>

<h2>Assignments overview</h2>

<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Due date
        </th>
        <th>
            Completed
        </th>

        <th></th>
    </tr>

    @{int maxRenderedRows = 3;
    try
    {
        for (int i = 0; i < Model.Assignments.Count(); i++)
        {
            if (i < maxRenderedRows)
            {
                <tr>
                    <td>
                        <a href="@Url.Action("Details", "Assignment", new { id = Model.Assignments.ElementAt(i).ID })">@Model.Assignments.ElementAt(i).Name</a>
                        @*@Html.ActionLink(Model.Assignments.ElementAt(i).Name, "Details", "Assignment", new { id = Model.Assignments.ElementAt(i).ID })*@
                    </td>
                    <td>
                        @Html.DisplayFor(assignment => Model.Assignments.ElementAt(i).DueDate)
                    </td>
                    <td>
                        @Html.DisplayFor(assignment => Model.Assignments.ElementAt(i).IsPassed)
                    </td>
                </tr>
            }
        }
    } catch (NullReferenceException)
    {

    }

    }

</table>

<td>
    @Html.ActionLink("Show all assignments", "Index", "Assignment")
</td>


     