@model LMS_Grupp4.Models.LMS_Models.Assignment
@using LMS_Grupp4.Models
@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "Details";
}

<h2>
    Are you sure you want to delete Assignment @Model.Name ? <br/>
    All evaluations connected to the assignment will also be deleted.
</h2>

<div>
    <dl>
        <dt>
            @Html.DisplayNameFor(model => Model.IssueDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => Model.IssueDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => Model.DueDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => Model.DueDate)
        </dd>

        <dt>
            Over due
        </dt>
        <dd>
            @Html.DisplayFor(model => Model.IsExpired)
        </dd>

        <dt>
            Max Score
        </dt>
        <dd>
            @Html.DisplayFor(model => Model.MaxScore)
        </dd>

        <dt>
            Course
        </dt>
        <dd>
            @Html.DisplayFor(model => Model.Course.CourseName)
        </dd>

    </dl>
</div>
<br />

<div>
    <a href="@Url.Action("DeleteConfirmed", "Assignment", new { id = Model.ID })" class="btn btn-default btn-sm">Delete</a>
</div>

<div>
    @Html.ActionLink("Personal assignments", "IndexUser")
</div>

