@model LMS_Grupp4.Models.LMS_Models.Evaluation
@using LMS_Grupp4.Models
@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "Details";
    bool isTeacher = (User.IsInRole("teacher")) ? true : false;
}


<div class="row" style="padding-bottom: 20px">
    <div class="col-md-4">
        <small>
            User ID: @User.Identity.GetUserId()
        </small>
    </div>
    <div class="col-md-4 text-center">
        <small>Assignments details</small>
    </div>
    <div class="col-lg-4 text-right">
        <small>@DateTime.Now.DayOfWeek, @DateTime.Now.Date.Day @DateTime.Now.Year</small>
    </div>
</div>

<div class="jumbotron">
    <h2>Details for Assignment @Model.Assignment.Name</h2>
        <p>
            Here you can see the full details for this assignment.<br />
        </p>
</div>

<div class="row">
    <div class="col-md-10">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">
                    <h2 class="text-center">Assignment details</h2>
                </div>
            </div>
            <div class="panel-body">
                <table class="table table-bordered">
                    <tr>
                        <th class="text-center">
                            Completed
                        </th>
                        <th class="text-center">
                            Issue date
                        </th>
                        <th class="text-center">
                            Due date
                        </th>
                        <th class="text-center">
                            Over due
                        </th>
                        <th class="text-center">
                            Course grade
                        </th>
                        <th class="text-center">
                            Max score
                        </th>
                        <th class="text-center">
                            Score
                        </th>
                        <th class="text-center">
                            Percentage
                        </th>
                        <th class="text-center">
                            Message
                        </th>
                        <th class="text-center">
                            Course
                        </th>
                        <th class="text-center">
                            Student
                        </th>
                        <th class="text-center">
                            File
                        </th>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayFor(model => Model.IsPassed)
                        </td>
                        <td>
                            @Html.DisplayFor(model => Model.Assignment.IssueDate)
                        </td>
                        <td>
                            @Html.DisplayFor(model => Model.Assignment.DueDate)
                        </td>
                        <td>
                            @Html.DisplayFor(model => Model.Assignment.IsExpired)
                        </td>
                        <td>
                            @Html.DisplayFor(model => Model.Mark)
                        </td>
                        <td>
                            @Html.DisplayFor(model => Model.Assignment.MaxScore)
                        </td>
                        <td>
                            @Html.DisplayFor(model => Model.Score)
                        </td>
                        <td>
                            @Html.DisplayFor(model => Model.Percentage)
                        </td>
                        <td>
                            @Html.DisplayFor(model => Model.Message)
                        </td>
                        <td>
                            @*@Html.DisplayFor(model => Model.Assignment.Course.CourseName)*@
                            <a href="@Url.Action("Details", "Course", new { id = @Model.Assignment.Course.ID })">@Model.Assignment.Course.CourseName</a>
                        </td>
                        <td>
                            @*@Html.DisplayFor(model => Model.Student)*@
                            <a href="@Url.Action("Details", "Student", new { id = @Model.Student.Id })">@Model.Student.RealName</a>
                        </td>
                        @*<td>
                            @Html.DisplayFor(model => Model.LMSFile)
                            <a href="@Url.Action("Index", "File", new { id = @Model.LMSFile.ID })">@Model.LMSFile.Name</a>
                        </td>*@
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div>
    @Html.ActionLink("Personal assignments", "IndexUser")
</div>




