@model LMS_Grupp4.Models.LMS_Models.Evaluation
@using LMS_Grupp4.Models
@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "Details";
}

<h2>Details for Assignment @Model.Assignment.Name</h2>

<div>
    <dl>
        <dt>
            @Html.DisplayNameFor(model => Model.Assignment.IssueDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => Model.Assignment.IssueDate)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => Model.Assignment.DueDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => Model.Assignment.DueDate)
        </dd>

        <dt>
            Course grade
        </dt>
        <dd>
            @Html.DisplayFor(model => Model.Mark)
        </dd>

        <dt>
            Completed
        </dt>
        <dd>
            @Html.DisplayFor(model => Model.IsPassed)
        </dd>

        <dt>
            Over due
        </dt>
        <dd>
            @Html.DisplayFor(model => Model.Assignment.IsExpired)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => Model.Score)
        </dt>
        <dd>
            @Html.DisplayFor(model => Model.Score)
        </dd>

        <dt>
            Max Score
        </dt>
        <dd>
            @Html.DisplayFor(model => Model.Assignment.MaxScore)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => Model.Percentage)
        </dt>
        <dd>
            @Html.DisplayFor(model => Model.Percentage)
        </dd>

        <dt>
            Course
        </dt>
        <dd>
            @Html.DisplayFor(model => Model.Assignment.Course.CourseName)
        </dd>

        <dt>
            Student
        </dt>
        <dd>
            @Html.DisplayFor(model => Model.Student.RealName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => Model.Message)
        </dt>
        <dd>
            @Html.DisplayFor(model => Model.Message)
        </dd>

    </dl>
</div>

<div>
    @*@Html.ActionLink("Back to List", "IndexUser")*@
    <a href="@Url.Action("IndexUser", "Assignment")" class="btn btn-default btn-sm">Back to personal assignments</a>
</div>




