@model LMS_Grupp4.Models.LMS_ViewModels.Assignment_IndexCourseViewModel
@using LMS_Grupp4.Models
@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "Index";
    bool isTeacher = (User.IsInRole("teacher")) ? true : false;
}

<div class="row" style="padding-bottom: 20px">
    <div class="col-md-4">
        <small>
            User ID: @User.Identity.GetUserId()
        </small>
    </div>
    <div class="col-md-4 text-center">
        <small>Assignments Overview</small>
    </div>
    <div class="col-lg-4 text-right">
        <small>@DateTime.Now.DayOfWeek, @DateTime.Now.Date.Day @DateTime.Now.Year</small>
    </div>
</div>


<div class="jumbotron">
    <h1>Assignments for course @Model.CourseName</h1>
    <p>
        Here you can see all the assignments that are registered for this course.<br />
    </p>
</div>

<div class="row">
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">
                    <h2 class="text-center">Course assignments</h2>
                </div>
            </div>
            <div class="panel-body">
                <table class="table">
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Due date
                        </th>
                        <th></th>

                    </tr>

                    @if (isTeacher)
                    {
                        if(Model.Assignments.c)
                        <tr>
                            <td>
                                @Html.ActionLink(item.Name, "Details_Basic", new { id = item.ID })
                            </td>
                            <td>
                                @Html.DisplayFor(assignment => item.DueDate)
                            </td>


                            @if (isTeacher)
                            {
                                <td>
                                    <a href="@Url.Action("Edit", "Assignment", new { id = item.ID })" class="btn btn-default btn-sm">Edit</a>
                                    <a href="@Url.Action("Delete", "Assignment", new { id = item.ID })" class="btn btn-default btn-sm">Delete</a>
                                </td>
                            }
                        </tr>
                    } 
                    else
                    {

                    }
                    @foreach (var item in Model.Assignments)
                    {
                        <tr>
                            <td>
                                @Html.ActionLink(item.Name, "Details_Basic", new { id = item.ID })
                            </td>
                            <td>
                                @Convert.ToDateTime(item.DueDate).ToShortDateString()
                            </td>


                            @if (isTeacher)
                            {
                                <td>
                                    <a href="@Url.Action("Edit", "Assignment", new { id = item.ID })" class="btn btn-default btn-sm">Edit</a>
                                    <a href="@Url.Action("Delete", "Assignment", new { id = item.ID })" class="btn btn-default btn-sm">Delete</a>
                                </td>
                            }
                            else
                            {
                                if (item.Evaluations.Any(a => a.Student.Id == User.Identity.GetUserId()))
                                {
                                    <td>
                                        <div class="alert alert-success">
                                            <p>
                                                <span class="glyphicon glyphicon-ok-sign"></span> Assignment already accepted
                                            </p>
                                        </div>
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        <a href="@Url.Action("AssignmentAcceptance", "Assignment", new { id = item.ID })" class="btn btn-default btn-sm">Confirm assignment</a>
                                    </td>
                                }
                            }
                        </tr>
                    }

                </table>

            </div>
        </div>
        <a href="@Url.Action("IndexUser", "Assignment")">Back To Assignments</a>
    </div>
</div>



