@model LMS_Grupp4.Models.LMS_ViewModels.Assignment_IndexCourseViewModel
@using LMS_Grupp4.Models
@using Microsoft.AspNet.Identity;


@{
    ViewBag.Title = "Index";
    bool isTeacher = (User.IsInRole("teacher")) ? true : false;
}


<div class="jumbotron">
    @if (isTeacher)
    {
        <h1>You are logged in as Teacher: @User.Identity.GetUserRealName()</h1>
        <small>ID: @ViewBag.UserID</small>
    } else
    {
        <h1>You are logged in as Student: @User.Identity.GetUserRealName()</h1>
        <small>ID: @ViewBag.UserID</small>
    }
</div>

<h2>Assignments for course @Model.CourseName</h2>


<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Due date
        </th>
        @*<th>
                Completed
            </th>*@

        <th></th>
    </tr>

    @foreach (var item in Model.Assignments)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Name, "Details", new { id = item.ID })
            </td>
            <td>
                @Html.DisplayFor(assignment => item.DueDate)
            </td>
            @*<td>
                    @Html.DisplayFor(assignment => item.IsPassed)
                </td>*@

            @if (isTeacher)
            {
                <td>
                    <a href="@Url.Action("Edit", "Assignment", new { id = item.ID })" class="btn btn-default btn-sm">Edit</a>
                    @*@Html.ActionLink("Edit", "Edit") |*@
                    <a href="@Url.Action("Delete", "Assignment", new { id = item.ID })" class="btn btn-default btn-sm">Delete</a>
                    @*@Html.ActionLink("Delete", "Delete")*@
                </td>
            } else
            {
                <td>
                    @*@Html.ActionLink("Confirm assignment", "ConfirmAssignment", new {id = item.ID})*@
                    <a href="@Url.Action("ConfirmAssignment", "Assignment", new { id = item.ID })" class="btn btn-default btn-sm">Confirm assignment</a>
                </td>
            }
        </tr>
    }

</table>



