@model LMS_Grupp4.Models.LMS_ViewModels.Assignment_IndexUserViewModel
@using LMS_Grupp4.Models
@using Microsoft.AspNet.Identity;


@{
    ViewBag.Title = "Index";
    bool isTeacher = (User.IsInRole("teacher")) ? true : false;
}


<div class="jumbotron">
    @if (isTeacher)
    {
        <h1>You are logged in as Teacher: @User.Identity.GetUserRealName()</h1>
        <small>ID: @ViewBag.UserID</small>
    } else
    {
        <h1>You are logged in as Student: @User.Identity.GetUserRealName()</h1>
        <small>ID: @ViewBag.UserID</small>
    }
</div>

@if (isTeacher)
{
    <h2>Your assignments</h2>

    <table class="table">
        <tr>
            <th>
                Name
            </th>
            <th>
                Course
            </th>
            <th>
                Due date
            </th>
            @*<th>
                Completed
            </th>*@

            <th></th>
        </tr>

        @foreach (var item in Model.TeacherAssignments)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.Name, "Details_Basic", new { id = item.ID })
                </td>
                <td>
                    <a href="@Url.Action("Details", "Course", new { id = item.Course.ID})">@Html.DisplayFor(course => item.Course.CourseName)</a>
                    @*@Html.DisplayFor(assignment => item.Course)*@
                </td>
                <td>
                    @Html.DisplayFor(assignment => item.DueDate)
                </td>
                @*<td>
                    @Html.DisplayFor(assignment => item.IsPassed)
                </td>*@

                <td>
                    <a href="@Url.Action("Edit", "Assignment", new { id = item.ID })" class="btn btn-default btn-sm">Edit</a>
                    <a href="@Url.Action("Delete", "Assignment", new { id = item.ID })" class="btn btn-default btn-sm">Delete</a>
                </td>
            </tr>
        }

    </table>

    <h2>Returned assignments</h2>

    <table class="table">
        <tr>
            <th>
                Name
            </th>
            <th>
                Course
            </th>
            <th>
                Due date
            </th>
            @*<th>
                Completed
            </th>*@

            <th></th>
        </tr>

        @foreach (var assignment in Model.StudentAssignments)
        {
            foreach(var evaluation in assignment.Evaluations)
            {
            <tr>
                <td>
                    @Html.ActionLink(evaluation.Assignment.Name, "Details_Full", new { id = evaluation.ID })
                </td>
                <td>
                    <a href="@Url.Action("Details", "Course", new { id = evaluation.Assignment.Course.ID})">@Html.DisplayFor(courseName => evaluation.Assignment.Course.CourseName)</a>
                    @*@Html.DisplayFor(assignment => item.Course)*@
                </td>
                <td>
                    @Html.DisplayFor(assignmt => evaluation.Assignment.DueDate)
                </td>
                @*<td>
                    @Html.DisplayFor(assignment => item.IsPassed)
                </td>*@
                <td>
                    <a href="@Url.Action("EditResponse", "Assignment", new { id = evaluation.ID })" class="btn btn-default btn-sm">Respond</a>
                </td>
            </tr>
            }
        }
    </table>
} 

else
{
    <h2>Your assignments</h2>

    <table class="table">
        <tr>
            <th>
                Name
            </th>
            <th>
                Course  
            </th>
            <th>
                Due date
            </th>
            @*<th>
                Completed
            </th>*@
        </tr>

        @foreach (var assignment in Model.StudentAssignments)
        {
            foreach(var evaluation in assignment.Evaluations)
            {
            <tr>
                <td>
                    @Html.ActionLink(evaluation.Assignment.Name, "Details_Full", new { id = evaluation.ID })
                </td>
                <td>
                    <a href="@Url.Action("Details", "Course", new { id = evaluation.Assignment.Course.ID })">@Html.DisplayFor(courseName => evaluation.Assignment.Course.CourseName)</a>
                    @*@Html.DisplayFor(assignment => item.Course)*@
                </td>
                <td>
                    @Html.DisplayFor(eval => evaluation.Assignment.DueDate)
                </td>
                @*<td>
                    @Html.DisplayFor(assignment => item.IsPassed)
                </td>*@
            </tr>
            }
        }
    </table>
}

