@using Microsoft.AspNet.Identity;
@model LMS_Grupp4.Models.LMS_Models.Course

@{
    ViewBag.Title = Model.CourseName + "Details";
    var roleManager = new LMS_Grupp4.Repositories.LMSRepository().GetRoleManager();
    var teacherRoleID = roleManager.FindByName("teacher").Id;
    bool applicationExists = Model.CourseApplications.Any(ca => ca.Student.Id == User.Identity.GetUserId() && ca.Status == false);
    bool isAlreadyInCourse = Model.Users.Any(u => u.Id == User.Identity.GetUserId());
}
<div class="row" style="padding-bottom: 20px">
    <div class="col-md-4">
        <small>
            Student ID: @User.Identity.GetUserId()
        </small>
    </div>
    <div class="col-md-4 text-center">
        <small>Course Details</small>
    </div>
    <div class="col-lg-4 text-right">
        <small>@DateTime.Now.DayOfWeek, @DateTime.Now.Date.Day @DateTime.Now.Year</small>
    </div>
</div>
<div class="jumbotron">
    <h2>@Model.CourseName</h2>
    <p>
        @Model.Description
    </p>
</div>
<hr />
<div class="row">
    <div class="col-md-8">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">
                    <h4 class="text-center">Details</h4>
                </div>
            </div>
            <div class="panel-body">

                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.CourseName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.CourseName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Description)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Description)
                    </dd>
                    <dt>
                        Teachers
                    </dt>

                    <dd>
                        <ul>
                            @foreach (var user in Model.Users.Where(u => u.Roles.Any(r => r.RoleId == teacherRoleID)).ToList())
                            {
                                <li><a href="@Url.Action("Details", "Teacher", new { id = user.Id})">@user.RealName</a></li>
                            }
                        </ul>
                    </dd>
                </dl>

                <hr />
                <div class="btn-toolbar">
                    <div class="btn-group">
                        @if (!applicationExists && !isAlreadyInCourse)
                        {
                            <a href="@Url.Action("Apply", "CourseApplication", new { id = Model.ID })" class="btn btn-success">Apply For Course <span class="glyphicon glyphicon-save"></span></a>
                        }
                    </div>
                    <div class="btn-group">
                        <a href="@Url.Action("Upload", "File", new { id = Model.ID })" class="btn btn-primary">Upload File <span class="glyphicon glyphicon-upload"></span></a>

                    </div>
                    <div class="btn-group">
                        @if (isAlreadyInCourse)
                        {
                            <a href="@Url.Action("IndexCourse", "Assignment", new { courseID = Model.ID })" class="btn btn-default">View assignments</a>
                        }
                        
                    </div>
                </div>

            </div>
            @if (applicationExists)
            {
                <div class="panel-footer warning">
                    <small>
                        You have a pending application for this course.<br />
                        Refer to your applications <a href="@Url.Action("Index", "CourseApplication")">page</a> to view it.
                    </small>
                </div>
            }
        </div>
        <a href="@Url.Action("Index", "Course")" class="btn btn-default btn-md">Back To List</a>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">
                    <h4 class="text-center">Actual Schema</h4>
                </div>
            </div>
            <div class="panel-body">
                <p>
                    Schema valid for the period:<br />
                    <b>@Model.ClassSchema.StartDate</b> to <b>@Model.ClassSchema.EndDate</b>.
                </p>
                <hr />
                <div class="schedule-box">
                    @Html.Raw(Model.ClassSchema.Schedule)
                </div>
            </div>
        </div>
    </div>
</div>
