@using LMS_Grupp4.Models.LMS_Models
@using Microsoft.AspNet.Identity;
@model IEnumerable<IGrouping<string, Course>>

@{
    ViewBag.Title = "Index";
    bool isTeacher = (User.IsInRole("teacher")) ? true : false;
}
<div class="row" style="padding-bottom: 20px">
    <div class="col-md-4">
        @if (isTeacher)
        {
            <small>
                Teacher ID: @User.Identity.GetUserId()
            </small>
        }
        else if (!isTeacher && User.Identity.IsAuthenticated)
        {
            <small>
                Student ID: @User.Identity.GetUserId()
            </small>
        }
        else
        {
            <small>
                Unregistered User
            </small>
        }
        
    </div>
    <div class="col-md-4 text-center">
        <small>Our Courses</small>
    </div>
    <div class="col-lg-4 text-right">
        <small>@DateTime.Now.DayOfWeek, @DateTime.Now.Date.Day @DateTime.Now.Year</small>
    </div>
</div>
<div class="jumbotron">

    <h2>Welcome to our courses page!</h2>
    <p>
        Look around and find the right course for you.<br />
        We have a wide range of courses to choose from so do not hesitate to check them out.
    </p>
</div>
<hr />
<div class="row">
    <div class="col-md-9">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">
                    <h4 class="text-center">Courses</h4>
                </div>
            </div>
            <div class="panel-body">
                <p>
                    You can apply to any course but be sure to have the prerequisites.
                </p>
                <hr />
                <table class="table">
                    <tr>
                        <th >
                            Code
                        </th>
                        <th >
                            Course
                        </th>
                        <th >
                            Description
                        </th>
                    </tr>
                    @foreach (var group in Model)
                    {
                        <tr style="background-color: #eFeFeF;max-height:10px!important" class="text-right">
                            <td colspan="3" style="font-size:1.2em; line-height:5px!important"><b>@group.Key</b></td>
                        </tr>
                        foreach (var item in group)
                        {
                            <tr>
                                <td>
                                    <span>LMS-@item.ID</span>
                                </td>
                                <td>
                                    <a href="@Url.Action("Details", "Course", new { id = item.ID})" title="Details">@Html.DisplayFor(modelItem => item.CourseName)</a>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                            </tr>
                        }
                    }
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">
                    <h4>Filter Options</h4>
                </div>
            </div>
            <div class="panel-body">
                <form action="@Url.Action("Index", "Course")" method="post">
                    <div class="form-group">
                        <div class="col-md-12">
                            <label for="sortBy">Sort By</label>
                            <select name="sortBy" id="sortBy" class="form-control">
                                <option value="name">Name</option>
                                <option value="decription">Description</option>
                                <option value="both">Both</option>
                            </select>
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <div class="col-md-12">
                            <label for="orderBy">Order By</label>
                            <select name="orderBy" id="orderBy" class="form-control">
                                <option value="nameAsc">Name Ascending</option>
                                <option value="nameDesc">Name Descending</option>
                                <option value="popularityAsc">Popularity Ascending</option>
                                <option value="popularityDesc">Popularity Descending</option>
                                <option value="recent">Most Recent</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <input type="submit" value="Filter Result" class="btn btn-primary" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
