@using Microsoft.AspNet.Identity;
@using LMS_Grupp4.Models;
@model LMS_Grupp4.Models.LMS_ViewModels.Course_ApplicationViewModel

@{
    ViewBag.Title = "Course Application";
}

<div class="row" style="padding-bottom: 20px">
    <div class="col-md-4">
        <small>
            Teacher ID: @User.Identity.GetUserId()
        </small>
    </div>
    <div class="col-md-4 text-center">
        <small>Course Application Review</small>
    </div>
    <div class="col-lg-4 text-right">
        <small>@DateTime.Now.DayOfWeek, @DateTime.Now.Date.Day @DateTime.Now.Year</small>
    </div>
</div>
<div class="jumbotron">
    <h2>Course Application Review for <a href="@Url.Action("Details", "Course", new { id = Model.CourseID})">@Model.CourseName</a></h2>
    <p>
        Check the "Received" box to accept the student to your course.
    </p>
</div>
<hr />
<div class="row">
    <div class="col-md-9">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">
                    <h4 class="text-center">Application Review</h4>
                </div>
            </div>
            <div class="panel-body">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        <div class="well well-sm">
                            <h4>Applicant Message</h4>
                            <hr />
                            <blockquote class=".blockquote-reverse">
                                <p>
                                    @Model.Message
                                </p>
                                <small>
                                    @Model.StudentRealName
                                </small>
                            </blockquote>
                        </div>
                        <hr />
                        @Html.HiddenFor(model => model.CourseID)
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            <label class = "control-label col-md-2">( * ) Received:</label>
                            <div class="col-md-10">
                                <input type="checkbox" name="isAccepted" id="isAccepted" value="true"/>
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Message, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <textarea name="Comment" id="Comment" rows="5" cols="50" class="form-control"></textarea>
                                @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <!--To-Do: Use this elsewhere

                        -->
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Respond" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                }
                <div class="panel-footer">
                    <small>
                        ( * ) Check the "Received" Box to accept the student in your course.
                    </small>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
