@model LMS_Grupp4.Models.LMS_ViewModels.Teacher_IndexViewModel
@using LMS_Grupp4.Models
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="jumbotron">
    <h1>Index</h1>
    <h2>You are logged in as Teacher: @User.Identity.GetUserRealName()</h2>
    <small>ID: @ViewBag.UserID</small>
</div>

<td>
    @Html.ActionLink("Course Applications", "Index", "Course", new { id = User.Identity.GetUserId() }) |
    @Html.ActionLink("Program Applications", "Index", "ProgramClass", new { id = User.Identity.GetUserId() })
    <br /><br />
</td>

<td>
    @Html.ActionLink("My Assignments", "Assignments", new { id = User.Identity.GetUserId() })
    @Html.ActionLink("My Courses", "Courses", new { id = User.Identity.GetUserId() }) |
    @Html.ActionLink("My Files", "Files", new { id = User.Identity.GetUserId() }) |
    @Html.ActionLink("My Programs", "ProgramClasses", new { id = User.Identity.GetUserId() }) |
    @Html.ActionLink("My Students", "Students", new { id = User.Identity.GetUserId() }) 
</td>

<h2>My Courses</h2>

<table class="table">
    <tr>
        <th>
            Course
        </th>
        <th>
            Description
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model.Courses)
    {
        <tr>
            <td>
                @Html.DisplayFor(course => item.CourseName)
            </td>
            <td>
                @Html.DisplayFor(course => item.Description)
            </td>
        </tr>
    }

</table>