@model LMS_Grupp4.Models.LMS_ViewModels.Teacher_IndexViewModel
@using LMS_Grupp4.Models
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = User.Identity.GetUserRealName() + ": Index";
    int courseCount = Model.courseModel.Count;
    int assignmentCount = Model.assignmentModel.Count;
    int applicationCount = Model.courseApplicationModel.Count;
}
<div class="row" style="padding-bottom: 20px">
    <div class="col-md-4">
        <small>
            Teacher ID: @User.Identity.GetUserId()
        </small>
    </div>
    <div class="col-md-4 text-center">
        <small>Teacher Homepage</small>
    </div>
    <div class="col-lg-4 text-right">
        <small>@DateTime.Now.DayOfWeek, @DateTime.Now.Date.Day @DateTime.Now.Year</small>
    </div>
</div>

<div class="jumbotron">
    <h1>Homepage</h1>
    <h2>You are logged in as Teacher: <a href="#">@User.Identity.GetUserRealName()</a></h2>
    <p>
        This is your homepage. <br />
        You can have a overview of your courses, courses applications and courses assignments at a glance.
    </p>
    <small>
        You are not "@User.Identity.GetUserRealName()", login <a href="@Url.Action("Login", "Account")">here</a>.
    </small>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">
                    <h4 class="text-center"><a href="@Url.Action("Index", "Course")">My Courses</a></h4>
                </div>
            </div>
            <div class="panel-body">
                <p>
                    A list of your five most recent courses.<br />
                </p>
                <hr />
                <table class="table table-bordered">
                    <tr>
                        <th class="text-center">
                            Course
                        </th>
                        <th class="text-center">
                            Description
                        </th>
                    </tr>

                    @foreach (var item in Model.courseModel)
                    {
                        <tr>
                            <td>
                                <a href="@Url.Action("Details", "Course", new { id = item.ID})">@Html.DisplayFor(course => item.CourseName)</a>
                            </td>
                            <td>
                                @Html.DisplayFor(course => item.Description)
                            </td>
                        </tr>
                    }

                </table>
                @if (courseCount <= 0)
                {
                    <div class="alert alert-warning">
                        <h4>You have no course as for now.</h4>
                        <p>
                            Consider creating a new one or contact the administrator.
                        </p>
                    </div>
                }
                <hr />
                <a href="@Url.Action("Create", "Course")" class="btn btn-xs btn-success">Create Course <span class="glyphicon glyphicon-plus"></span></a>
            </div>
        </div>
        <p class="text-center">
            <a href="@Url.Action("Index", "Course")">View All</a>
        </p>
        <hr />
    </div>
    <div class="col-md-4">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">
                    <h4 class="text-center">My Assignments</h4>
                </div>
            </div>
            <div class="panel-body">
                <p>
                    Bellow are listed assignments for your courses.<br />
                    Select "View All" to view the full list
                </p>
                <hr />
                <table class="table table-bordered">
                    <tr>
                        <th class="text-center">
                            Assignment
                        </th>
                        <th class="text-center">
                            Due Date
                        </th>
                    </tr>

                    @foreach (var item in Model.assignmentModel)
                    {
                        <tr>
                            <td>
                                <a href="@Url.Action("Details", "Assignment", new { id = item.ID})">@Html.DisplayFor(assignment => item.Name)</a>
                            </td>
                            <td>
                                @Html.DisplayFor(assignment => item.DueDate)
                            </td>
                        </tr>
                    }

                </table>
                @if (assignmentCount <= 0)
                {
                    <div class="alert alert-warning">
                        <h4>You have no assignment as for now.</h4>
                        <p>
                            The assignments will be displayed in the table above.
                        </p>
                    </div>
                }
            </div>
        </div>
        <p class="text-center">
            <a href="@Url.Action("IndexUser", "Assignment")">View All</a>
        </p>
        <hr />
    </div>

    <div class="col-md-4">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">
                    <h4 class="text-center">Pending Applications</h4>
                </div>
            </div>
            <div class="panel-body">
                <p>
                    A list of all pending applications for this course.<br />
                    Click "Respond" to handle an application.
                </p>
                <hr />
                <table class="table table-bordered">
                    <tr>
                        <th class="text-center">
                            Message
                        </th>
                        <th class="text-center">
                            Emission Date
                        </th>
                        <th>
                            Course
                        </th>
                    </tr>

                    @foreach (var item in Model.courseApplicationModel)
                    {
                        <tr>
                            <td>
                                <a href="@Url.Action("Details", "CourseApplication", new { id = item.ID})">
                                    @(item.Message.Length > 16 ? item.Message.Substring(0, 15) + " ..." : item.Message) 
                                </a>
                            </td>
                            <td>
                                @Html.DisplayFor(courseApplicationModel => item.CreationDate)
                            </td>
                            <td>
                                @Html.DisplayFor(courseApplicationModel => item.Course.CourseName)
                            </td>
                        </tr>
                    }
                </table>
                @if (applicationCount <= 0)
                {
                    <div class="alert alert-warning">
                        <h4>You have no applications as for now.</h4>
                        <p>
                            Course applications will be displayed in the table above.
                        </p>
                    </div>
                }
                
            </div>
        </div>
        <p class="text-center">
            <a href="@Url.Action("Index", "CourseApplication")">View All</a>
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-success">
            <div class="panel-body">
                <p>
                    Register new students here.<br />
                </p>
                <hr />
                <p>
                    <a href="@Url.Action("Register", "Account")" class="btn btn-lg btn-success">Register Student <span class="glyphicon glyphicon-plus-sign"></span></a>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="well well-sm">
            <p>
                Every other operation con be available from the respective page. <br/>
                For instance, information inherent to a course will be accessible from that course and nowhere else.
            </p>
        </div>
    </div>
</div>